* {
    margin: 0;
    box-sizing: border-box;
    @font-face {
        font-family: 'Broadsheet';
        src: url('/fonts/Broadsheet.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
  }
  
  body {
    font-family: 'Broadsheet', 'Times New Roman', Times, serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main right'
      'footer footer footer footer footer footer';
    gap: 10px;
    background-color: white;
    padding: 10px;
  }
  
  .grid-container > div {
    padding: 10px;
    font-size: 20px;
  }
  
  .navbar {
    grid-area: flex;
    background-color: #f7f7f7;
    text-align: center;
    color: #000000;
  }

  .logo {
    height: 50px;
    width: auto;
  }
  
  .navbar > h1 {
    font-size: 40px;
  }
  
  .menu {
    grid-area: menu;
    }
    
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 15px;
    margin-bottom: 7px;
    background-color: #eeeeee;
    color: #000000;
  }
  
  .menu li:hover {
    background-color: #eeeeee;
  }
    
  .intro {
    grid-area: main;
  }
  
  .intro > h1 {
    font-size: 30px;
    margin-bottom: 7px;
  }
  
  .intro > p {
    margin-bottom: 7px;
  }
  
  .subscribe {
    grid-area: right;
    border: 2px solid #1a2e44;
    background-color: white;
    padding: 15px;
    color: #000000;
  }
  
  .subscribe > h2 {
    font-size: 25px;
    padding-bottom: 10px;
  }
  
  .subscribe li {
    padding: 5px;
    margin-bottom: 5px;
  }

  .button {
    background-color: #1a2e44;
    color: white;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    margin: 1rem 0;
    font-size: 20px;
}
  
  .footer {
    grid-area: footer;
    background-color: #eeeeee;
    color: #000000;
    text-align: center;
  }
  
  @media only screen and (max-width: 600px) {
    .navbar {grid-area: 1 / span 6;}
    .menu {grid-area: 2 / span 6;}
    .intro {grid-area: 3 / span 6;}
    .subscribe {grid-area: 4 / span 6;}
    .footer {grid-area: 5 / span 6;}
  }
  
  @media only screen and (min-width: 600px) {
    .navbar {grid-area: 1 / span 6;}
    .menu {grid-area: 2 / span 1;}
    .intro {grid-area: 2 / span 4;}
    .subscribe {grid-area: 3 / span 6;}
    .footer {grid-area: 4 / span 6;}
  }
  
  @media only screen and (min-width: 768px) {
    .navbar {grid-area: 1 / span 6;}
    .menu {grid-area: 2 / span 1;}
    .intro {grid-area: 2 / span 4;}
    .subscribe {grid-area: 2 / span 1;}
    .footer {grid-area: 3 / span 6;}
  }