* {
    margin: 0;
    box-sizing: border-box;
    @font-face {
        font-family: 'Broadsheet';
        src: url('/fonts/Broadsheet.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
  }
  
  body {
    font-family: 'Broadsheet', 'Times New Roman', Times, serif;
  }
  
  .navbar {
    width: 100vw;
    height: 12vh; 
    display: flex;
    background-color: #f7f7f7;
    justify-content: space-between;
    color: #000000;
    padding: 30px 30px;
  }

  .logo {
    height: 50px;
    width: auto;
  }
  
  .navbar > h1 {
    text-align: center;
    font-size: 40px;
  }

  .menu-checkbox:checked + .menu-icon + .menu {
        display: flex;
  }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu a {
    display: block;
    padding: 0px;
  }
  
  .menu li {
    list-style: none;
    padding: 15px;
    background-color: #eeeeee;
    color: #000000;
  }

  .menu-checkbox {
    display: none;
  }

  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 8px 0;
    user-select: none;
  }

  .menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main right'
      'footer footer footer footer footer footer';
    gap: 10px;
    background-color: white;
    padding: 10px;
  }
  
  .grid-container > div {
    padding: 10px;
    font-size: 20px;
  }
    
  .intro {
    grid-area: main;
  }
  
  .intro > h1 {
    font-size: 30px;
    margin-bottom: 7px;
  }
  
  .intro > p {
    margin-bottom: 7px;
  }

  .intro ul {
    padding-left: 0; 
    list-style: none;
  }

  .intro li{
    position: relative;
    padding-left: 25px;
  }

  .intro li::before {
    content: "★"; 
    position: absolute;
    left: 0;
    top: 0;
    font-size: .8em;
    color: black;
}
  
  .subscribe {
    max-height: 400;
    grid-area: right;
    border: 2px solid #1a2e44;
    background-color: #eeeeee;
    padding: 15px;
    color: #000000;
  }
  
  .subscribe > h2 {
    font-size: 25px;
    padding-bottom: 10px;
  }
  
  .subscribe li {
    padding: 5px;
    margin-bottom: 5px;
  }

.book-preview {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin: 10 0;
  }

.book-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .button {
    background-color: #1a2e44;
    color: white;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    margin: 1rem 0;
    font-size: 20px;
  }
  
  .footer {
    grid-area: footer;
    background-color: #eeeeee;
    color: #000000;
    text-align: center;
  }
  
  @media only screen and (max-width: 750px) {
    .menu {grid-area: 2 / span 6;
        display: none;
        flex-direction: column;
        background-color: #f7f7f7;
        position: absolute;
        top: 120;
        right: 0;
        width: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    .menu a {
        font-size: 20px;
        padding: 0;
        text-decoration: none;
        color: black;
        text-align: right;
        padding: 0 25px;;
    }
    .menu li { 
        margin-bottom: 10px;
    }
    .menu-icon {
        display: block;
    }
    .intro {grid-area: 3 / span 6;}
    .subscribe {grid-area: 4 / span 6;}
    .footer {grid-area: 5 / span 6;}
  }
  
  @media only screen and (min-width: 751px) {
    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu {
        display: flex ;
        flex-direction: row;
        position: relative;
        background: none;
        box-shadow: none;
    }
    .menu ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .menu li {
        padding: 10 10 0 10;
        background: none;
    }

    .menu a {
        font-size: 20px;
        padding: 0;
        text-decoration: none;
        color: black;
    }
    .menu-icon {
        display: none;
    }
    .intro {grid-area: 2 / span 4;}
    .subscribe {grid-area: 2 / span 1;}
    .footer {grid-area: 3 / span 6;}
  }
  
  @media only screen and (min-width: 865px) {
    .menu {grid-area: 2 / span 1;}
    .intro {grid-area: 2 / span 4;}
    .subscribe {grid-area: 2 / span 3;}
    .footer {grid-area: 3 / span 7;}
  }